
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>X-Crossword</title>
</head>

<body>
    <div>

        <table>
            {% for row in board %}
                <tr>
                {% for square in row %}
                    <td>{{square.num}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            <!-- <tr>
                <td>W</td>
                <td>H</td>
            </tr> -->

        </table>
    </div>


</body>

</html>
