
<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <meta charset='utf-8' />
  <title>X-Crossword</title>
  <link rel='stylesheet' type='text/css' href='../static/site.css'/>
  <script src='../static/scripts/jquery-3.4.1.min.js'></script>
  <script src='../static/scripts/socket.io.min.js'></script>
  <script src='../static/scripts/events.js'></script>
</head>

<body>
  <div>
    <table>
      <tbody>
        {% for row in board %}
          <tr>
          {% for square in row %}
            {% if square.is_black %}
              <td class=black-square>
            {% else %}
              <td>
                <div class=num>{{square.num}}</div>
                <div class=letter contenteditable></div>
            {% endif %}
              </td>
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div id='clues-container'>
      <div class='clue-col'>
        <h2>Across</h2>
        {% for num in clues['across'] %}
          <div>{{num}}. {{clues['across'][num]}}</div>
        {% endfor %}
      </div>
      <div class='clue-col'>
        <h2>Down</h2>
        {% for num in clues['down'] %}
          <div>{{num}}. {{clues['down'][num]}}</div>
        {% endfor %}
      </div>
    </div>
    
  </div>

</body>

</html>
