
<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <meta charset='utf-8' />
  <title>X-Crossword</title>
  <link rel='stylesheet' type='text/css' href='../static/site.css'/>
  <script src='../static/scripts/socket.io.min.js'></script>
  <script src='../static/scripts/events.js'></script>
</head>

<body>
  <div>
    <table>
      <tbody id='crossword'>
        <!-- inserted with JS -->
      </tbody>
    </table>

    <div id='clues-container'>
      <div class='clue-col'>
        <h2>Across</h2>
        {% for num in clues['across'] %}
          <div class='clue-box' id='{{num}}a-box'>
            <div class='clue-div' id='{{num}}a'>{{num}}. {{clues['across'][num]}}</div>
          </div>
        {% endfor %}
      </div>
      <div class='clue-col'>
        <h2>Down</h2>
        {% for num in clues['down'] %}
          <div class='clue-box' id='{{num}}d-box'>
            <div class='clue-div' id='{{num}}d'>{{num}}. {{clues['down'][num]}}</div>
          </div>
        {% endfor %}
      </div>
    </div>
    
  </div>

  <div id='button-div'>
    <button type='button' class='button' id='check-button'>Check</button>
  </div>

</body>

</html>
