html {
    font-family: Arial,Sans-Serif;
}

table {
    border-collapse: collapse;
    background-color: 240 240 240;
    float: left;
    margin-left: 5%;
    margin-top: 50px;
}

td {
    width: 48px;
    height: 48px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

#clues-container {
    display: flex;
    padding-left: 20px;
}
  
.clue-col {
    flex: 50%;
    padding: 0px 20px 20px 20px;
}

.clue-div {
    padding: 1px;
    font-size: 14px;
    display: inline-block;
}

.highlighted-clue {
    background-color: cyan;
}

.num {
    height: 20px;
    padding-left: 1px;
    vertical-align: top;
    font-size: 10px;
    text-align: left;
}

.letter {
    height: 24px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.black-square {
    background-color: black;
    border: 1px solid white;
}

#button-div {
    display: flex;
    text-align: center;
    justify-content: center;
}

.button {
    background-color: blue;
    border: 2px solid white;
    color: white;
    padding: 12px;
    opacity: 0.5;
    transition-duration: 2s;
    font-size: 16px
}

.button:focus {
    color: white;
}

.button:active {
    transition-duration: 0s;
    font-size: 20px;
}

.button:hover {
    opacity: 1
}

.correct {
    color: blue;
}

:focus {
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.selected-group {
    background-color: cyan;
}

.selected {
    background-color: yellow;
}